.viewname{
    font-size: 16pt;
    position: absolute;
    top: 25pt;

    padding-left: 12pt;
    width: 136pt;
    background-color: rgba(240, 240, 240, 90%);
    color: black;
    text-align: left;
}

.viewtopic{
    font-size: 16pt;
    position: absolute;
    top: 45pt;
    padding-left: 12pt;
    width: 135pt;
    color: aliceblue;

    text-align: left;
    border-bottom-style: solid;
    border-color: gainsboro;
}

.viewtext{
    font-size: 16pt;
    position: absolute;
    top: 69pt;
    left: 11pt;
    width: 136pt;
    height: 78pt;
    overflow: auto;

    color: aliceblue;
}