#tablemenu{
    position: absolute;
    top: 25pt;
    left: 10pt;
}

.tablecontent{
    width: 118pt;
    font-size: 16pt;
    color: aliceblue;

    text-align: center;
    padding: 5pt;
    margin-bottom: 5pt;
    background-color: darkcyan;
}