#mapbutton{
	position: absolute;
	top: 8pt;
	left: 7pt;
	width: 60pt;
	height: 70pt;
}

#hotelbutton{
	position: absolute;
	top: 8pt;
	left: 84pt;
	width: 60pt;
	height: 70pt;
}

#emailbutton{
	position: absolute;
	top: 82pt;
	left: 7pt;
	width: 60pt;
	height: 70pt;
}

#weatherbutton{
	position: absolute;
	top: 82pt;
	left: 84pt;
	width: 60pt;
	height: 70pt;
}
